<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head">
  <title>Main page</title>
</head>
<body>
<div th:insert="fragments/headers::admin_header"></div>

<form th:action="@{/add/doctor/save}" th:object="${doctor}" method="post">
  <input type="hidden" th:field="*{user.role}">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1 th:text="#{label.new_doctor}"></h1>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" th:field="*{user.username}" class="form-control" th:placeholder=" #{placeholder.username}" required="required">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" th:field="*{user.password}" class="form-control" th:placeholder=" #{placeholder.password}" required="required">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" th:field="*{firstName}" class="form-control" th:placeholder=" #{label.first_name}" required="required">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" th:field="*{lastName}" class="form-control" th:placeholder=" #{label.last_name}" required="required">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" th:field="*{position}" class="form-control" th:placeholder=" #{label.position}" required="required">
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <button type="submit" class="btn btn-primary mt-4" th:text="#{button.submit}"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

</body>
</html>