<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head">
  <title>Update doctor</title>
</head>
<body>
<div th:insert="fragments/headers::admin_header"></div>

<div class="container" style="margin-top: 100px">
  <div class="col-lg-12">
    <h2 th:text="#{label.edit}"></h2>
    <br>
    <br>
  </div>
  <div class="col-lg-8 push-lg-4 personal-info">
    <form th:action="@{/doctors/save}" th:object="${doctor}" method="POST">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{user}">
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" th:text="#{label.first_name}"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" th:field="*{firstName}" value="First name"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" th:text="#{label.last_name}"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" th:field="*{lastName}" value="Last name"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" th:text="#{label.position}"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" th:field="*{position}" value="Position"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div th:insert="fragments/footers::localization_footer"></div>

</body>
</html>